@page
@model IndexModel
@{
    ViewData["Title"] = "Dane pobierane z pliku";
}

<div class="text-center">
    <h1 class="display-4">Dane pobierane z pliku</h1>
</div>

@foreach (var product in Model.Products)
{
     <h2>@product.Title</h2>
}